

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}













#site-wrapper {
    background-color:#ecf2d5;
	position:relative;
	width:100%;

}


#menu-wrapper {
	position:absolute;
	border-width:5px;
	background-color:brown;
	height:45px;
	width:100%;

}


#top-nav {
	text-align:right;
	margin:0px 20px;
	
}

#top-nav a {
    color:brown;
	text-decoration: none;
}




#main-menu {
    padding:5px;
    margin:6px 0px 0px 0px ;
	
}



#main-menu li {
    float:left;
    text-transform:uppercase;
    font-family:Helvetica;
    font-size:20px;
	margin-top:3px;
	margin-right:20px;


}  


#main-menu ul {
	margin-left:10%;
	
}


#main-menu a {
    text-decoration: none;	
	color: #ffffff;
	padding:5px;
	
	
}





#page {
    position:absolute;
    top:30px;
    left:10%;
	width:420px;
	padding:10px;
}

#page p {
	font-family:Helvetica;
	font-size:14px;
}

#page h1 {
	font-family:Helvetica;
	font-size:35px;
}


#page h2 {
	font-family:Helvetica;
	font-size:20px;
	margin-top:7px;	
	margin-bottom:7px;	
}


#content-wrapper {
	position:absolute;
	width:100%;
	top:200px;
	height:620px;
	
}


#sidebar {
	position:absolute;
	width:400px;	
	left:45%;
	top:30px;
	padding:45px 0px 0px 0px;
	height:430px;

}


#sidebar img {
	width:230px;
	margin:10px 0px 0px 0px;
}


#sidebar h1 {
	font-family:Helvetica;
	font-size:20px;
	margin:0px 0px 4px 10px;
}

#sidebar a {
	font-family:Helvetica;
	font-size:14px;
	margin:10px;
    text-decoration: none;	
	color:brown;
	padding:5px;
}

#footer-wrapper {
	position:absolute;
	width:100%;
    background-color:brown;	
	top:750px;	
	height:120px;
	
}


#footer-contact {
	position:absolute;
	width:150px;
	left:150px;
		
}


#footer-contact h1{
	font-family:Helvetica;
	font-size:18px;
	margin:10px 0px 0px 0px;
		
}

#footer-contact p{
	font-family:Helvetica;
	font-size:13px;
	margin:4px 0px 0px 0px;		
}



#footer-follow {
	position:absolute;
	width:400px;
	left:700px;
		
}

#footer-follow li {
    float:left;
	margin-top:3px;
	margin-right:10px;
	padding:5px;

}  

#footer-follow h1{
	font-family:Helvetica;
	font-size:18px;
	margin:10px 0px 0px 0px;
		
}
