

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }














@font-face {
    font-family: 'league_gothicregular';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}






h1 {font-family: 'league_gothicregular';
	font-size:30px;
	margin-bottom:7px;
	margin-top:5px;
}


#header {
	position:relative;
	width:960px;
    height:670px;
	padding:5px;
    margin-left: auto;
    margin-right: auto;
	top:50px;
	
}


#logo {
	padding:5px;
	margin:0 auto;
	width:350px;
	height:150px;

}


#logo h1 {
	font-family: 'league_gothicregular';
	font-size:100px;
	margin:0 auto;
	padding:10px;
	word-spacing:50px;
}



.vs {
	font-size:50px;
	font-family:Georgia;
	font-weight: bold;
	font-style: italic;
	color: #bdc0c4;
}





nav {
	border-width: 5px;
	border-top:solid #000000;
	border-bottom:solid #000000;
    margin:0 auto;	
    padding:7px;
	height:40px;

    
}

a {
	text-decoration: none;
	color:#000000;
	
}

ul{
    margin:0 auto;
	width:670px;

}

li {
    float:left;
    margin:0 auto;
    padding:7px;
    text-transform:uppercase;
    font-family:Georgia;
    font-size:25px;
}  


img {
	width:400px;
	padding:5px;
	margin:5px 5px;

}


#container {
	width:1000px;
	height:500px;
	margin:0 auto;
}

#containertwo {
	width:1000px;
	height:60px;
	margin:0 auto;
}

#boxone {
   float:left;
   width:450px;
   margin:10px 10px;
   padding:5px;

}

#boxtwo {
   float:right;
   width:450px;
   margin:10px 10px;
   padding:5px;

}


#footleft {
   float:left;
   width:270px;
   margin:10px;
}


#footright {
   float:right;
   width:240px;
   text-align:right;
   margin:10px;

}


@media screen and (max-width:700px) {
  #boxone { float:none; width:30%; margin:0 1%; }
  #boxtwo { float:none; width:30%; margin:0 1%; }
  #menu { float:none; width:30%; margin:0 1%; }  
  #containertwo { display:none; }
  
  
  nav {  width:90%; margin:0 1%; height:190px;}
  #menu li { float:none; font-size:25px; line-height:5px; }
  #logo h1 { font-size:80px; }
  
  
  h1 { font-size:40px; }
  img { max-width:70%; }
  p { font-size:15px;}
  
}
  

